.c1{
    color: red;
    background-color: #136781;
    
}

.c2{
    color:rgb(43, 172, 161);
    background-color: #003476;
    
}

.c3{
    color:rgb(38, 25, 214);
    background-color: #1d6bd1;
    
}
