.float{
    width:80%;
    border: 4px solid black;
    margin: 0 auto;
    
}

.overflow{
    width:80%;
    border: 4px solid black;
    margin: 0 auto;
    overflow: auto;
}

.dragon1{
   float: right;
    margin: 20px;
}


.dragon2{
    float: left;
    margin: 20px;
}
