div{
    border-radius: 5px;
}

#one{
    margin: left 20px;
    height: 1500px;
    width: 150px;
    background-color: aqua;
    border: 4px dashed green;
}

#two{
    position:fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width:100%;
    background-color: rgba(30, 141, 26, 0.30);
    border:5px solid black;
}
