
div {
    width: 150px; 
    height: 150px;
    background-color: #FFFA40;
    border: 4px solid #FFF150;  
    border-radius: 100%;
    display: inline-block;
    margin: 10px;
    text-align: center;
 }


div:hover{
    color:aquamarine;
    background-color: blueviolet;
}


.trans{
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 1.5s;

}
